$font-content: 'Architects Daughter', cursive;
$font-nav-btn: 'Delius Unicase', cursive;
$background-gray: rgba(175, 175, 175, 0.7);
$background-purple: rgb(139, 102, 139);
$width-100: 100%;
$dos-porciento: 2%;
$white-color: #fff;