@import 'grid';
body{
  background-color: rgba(175, 175, 175, 0.7);
  font-family: 'Architects Daughter', cursive;
}
header{
  font-family:'Delius Unicase', cursive;
  position: fixed;
  background-color: rgb(139, 102, 139);
  width: 100%;
  top: 0;
  padding: 2%;
  margin-bottom: 2%;
  .menu{
    padding: 14px 70px;
    overflow: auto;
    &__item{
      margin: 3%;
      text-decoration: none;
      &--active{
        margin: 3%;
        text-decoration: none;
        color: darkgray;
      }
      &--active:visited{
        margin: 3%;
        text-decoration: none;
        color: #FFF;
        }
    }
    span:hover{
      background-color: gray;
      font-size: 120%;
    }
    &__item:visited{
      color: darkgray;
    }
  }
}
.images{
  margin-top: 7rem;
  padding: 5%;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: 10rem;
  max-height: auto;
}

.btn {  
  font-weight: normal;    
  padding: 4% 6%;  
  margin: 5%;  
  outline: none; 
  border-radius: 5px;  
  cursor: pointer;
  &--purple{
    background-color: rgb(139, 102, 139);
    color: #fff;
    font-family: 'Delius Unicase', cursive
  }
}
footer{
  background-color: rgb(139, 102, 139);
  color: #fff;
  p{
    text-align: center;
  }
}