@import 'grid';
@import 'variables';
@import 'mixin';

body{
  background-color: $background-gray;
  font-family: $font-content;
}
header{

  @include style-header;

  .menu{
    padding: 14px 70px;
    overflow: auto;
    &__item{

      @include item (3%);
      &--active{
        @include item (3%);
        color: darkgray;
      }
      &--active:hover{
        @include item (3%);
        color: $white-color;
        }
        &--active:visited{
          @include item (3%);
          color: $white-color;
          }
    }
    span:hover{
      background-color: gray;
      font-size: 120%;
    }
    &__item:visited{
      color: $white-color;
    }
    &__item:link{
      color: $white-color;
    }
  }
}
.img{
  margin-top: 7rem;
  padding: 5%;
  &__container{
    display: flex;
  }
  &__border{
    border: 10px solid rgba(139, 102, 139, .5);
  }
  .close{
    @include style-close;    
  }

}
.img-responsive {
  @include image-responsive;
}

.btn {  
  @include style-btn;
  &--purple{
    background-color: $background-purple;
    color: $white-color;
    font-family: $font-nav-btn;
  }
}
.lorem{
  margin: 2rem;
  padding: 1rem;
}
footer{
  background-color: $background-purple;
  color: $white-color;
  p{
    text-align: center;
  }
}